//
// Extend from bootstrap
//

// Table
.list-style-none {
  list-style-type: none;
}

.table .thead-light th {
  color: $gray-600;
}

.rounded-full {
  border-radius: 50% !important;
  overflow: hidden;
}

.z-10 {
  z-index: 10;
}

.hover-bg-gray:hover {
  background-color: #ced4da;
}

.hover-for-bg-gray:hover {
  background-color: #9b9b9b !important;
}

.table-button-action {
  border-radius: 50%;
}

.table-button-action:hover {
  background-color: gray;
}

.table thead th {
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  text-transform: capitalize;

  font-size: 0.875rem;
  color: $gray-600;

}

table {
  margin-bottom: 0 !important;
  border-spacing: 0pt;
  border-collapse: separate;
  border-radius: 10px;
}

th,
td {
  padding: 10pt;
  border-bottom: 1px solid #f4f6f8;
}

td.border-default{
  border-bottom-color: inherit !important;
}

td {
  align-content: center;
}

p.table-first-td {
  margin: 0 !important;
}



table tr:first-child th:first-child,
table tr:first-child td:first-child {
  border-top-left-radius: 10px;
}

table tr:first-child th:last-child,
table tr:first-child td:last-child {
  border-top-right-radius: 10px;
}

table tr:last-child th:first-child,
table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child th:last-child,
table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}