// cái này dành cho tất cả layout

.flex-1{
    flex: 1;
}
.text-xxl {
    font-size: 2rem;
    line-height: 2.5rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-md {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.font-medium {
    font-weight: 500;
}

.font-black {
    font-weight: 900;
}

.dropup.dropup-hover:hover .dropdown-menu {
    display: block;

}

.dropup .dropdown-menu {
    inset: auto auto 70% 35%;
    z-index: 1;
}

.be-box {
    position: relative;
}

.be-box .be-full {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.be-box .be-full-x {
    position: absolute;
    left: 0;
    right: 0;
}
.be-box .be-full-y {
    position: absolute;
    top: 0;
    bottom: 0;
}

.card.card-optional{
    transition: all 0.3s;
}
.card.card-optional:hover{
    transform: scale(1.10);
}
